body {
    margin: 0;
    position: relative;
    height: 100%;
    padding: 0;
}

.menuButton {
    font-family: 'Courier New', Courier, monospace;

    margin: 0;
    padding: 4px;
    border: 1px solid gray;
    color: none;
    background-color: darkgray;
    cursor: pointer;
}

.centralBoxOuter {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
}

.centralBoxInner {
    width: 100vmin;
    height: 100vmin;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#gameField {
    align-self: center;
    flex-grow: 1;
    aspect-ratio: 1 / 1;
    position: relative;
}

#snakes {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.snake {
    position: absolute;
    width: 100%;
    height: 100%;
}

#grid {
    display: grid;
    width: 100%;
    height: 100%;
    position: absolute;
}

.grid-tile {
    margin: 0;
    padding: 0;
    border: 1px dashed gray;
    color: none;
    background-color: #adff2f50;
    cursor: pointer;
}

.grid-tile:disabled {
    background-color: transparent;
    cursor: default;
}

.grid-tile:enabled:hover {
    background-color: #adff2fa0;
}